body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7; 
    padding: 0.5rem 0.7rem;
}
.nav-option:hover{
    opacity: 1; 
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
   margin-top: 0.5rem;
   padding: 0.5rem 0.7rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}
.badge{
    display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;
    background-color: white;
    border: none;
    color: black;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    align-items: center;
    cursor: pointer;

}
.dark-badge{
    background-color: black;
    color: white;
}
.sticky-nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.sticky-nav-icons{
    margin-left: 0.75rem;

}
.nav-item{
    margin-right: 1rem;
}
@media(max-width: 1000px){
    .hide{
        display: flex;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* optional spacing between cards */
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.title{
    font-weight: 600;
}
.information{
    font-size: 0.85rem;
    opacity: 0.5;
}
.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    background-color: #000;
    display: flex;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
    background-color:black;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.progress-bar {
  appearance: none;
  width: 70%;
  background: transparent;
}

.progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  background: #1db954;
  border-radius: 50%;
  margin-top: -4px;
}


.song{
    height: 3rem;
    width: 4rem;
    padding: 1rem;
}
.logo {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* pushes text down */
}

.brand {
  font-size: 14px;
  font-weight:10px ;
}

.tagline {
  font-size: 12px;
  opacity: 0.8;
}
.symbol{
    margin-top: 20px;
    margin-left: 20px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px; 
}

.progress-bar {
  background: black!important;
  height: 20px !important;
  width: 300px !important;
}
.music-player {
  height: 90px;
  display: flex;
  align-items: center;
}

.player-control-icon {
  margin: 0.5rem;
}
.controls i {
  cursor: pointer;
  opacity: 0.8;
}

.controls i:hover {
  opacity: 1;
}
.music-player {
  height: 84px;
}
.progress-bar {
  background: linear-gradient(
    to right,
    #1db954 0%,
    #1db954 30%,
    #535353 30%,
    #535353 100%
  );
}
.progress-bar::-webkit-slider-thumb {
  opacity: 0;
}

.playback-bar:hover .progress-bar::-webkit-slider-thumb {
  opacity: 1;
}


